
<div>{{customer.name}} resides in the {{customer.address.city}} which is in the street {{customer.address.street}} of {{customer.address.region}} region of the {{customer.address.state}} state.</div>
<label for=""><input type="checkbox" [(ngModel)]="hideAddress"></label>

<!--<pre>{{customer.name | json}}</pre>-->
<div [hidden]="hideAddress">
  
<fieldset>
  <label for="">Street :</label>
  <input type="text" [(ngModel)]="customer.address.street"> <br>
</fieldset>
<fieldset>
  <label for="">City :</label>
  <input type="text" [(ngModel)]="customer.address.city">
</fieldset>
<fieldset>
  <label for="">Region: </label>
<!--<select (change)="regionChange($event.target.value)">-->
<!--<select #selector (change)="region=selector.value">-->
<select [(ngModel)]="customer.address.region">
  <option>East</option>
  <option>West</option>
  <option>North</option>
  <option>South</option>
</select>
</fieldset>
<fieldset>
  <label for="">State :</label>
  <select name="" id="" [(ngModel)]="customer.address.state">
    <option>Andhra Pradesh</option>
    <option>Telangana</option>
    <option>TamilNadu</option>
  </select>
</fieldset>

</div>


<!--<button (click)="addressClick()">Show/HideAddress</button>-->



